include layout
    title #{title}
    body
      include nav    
      .appheader
          h1.header-tile.text-white 404
          h3.header-subtitle.text-white The reources you requested was Not found
