include layout
    title #{title}
    body
      include nav
      .appheader
          h1.header-tile.text-white Articles  Collection Network
          h3.header-subtitle.text-white We are dedicated tyo collecting an Pubishisng interestin Articels arround the  world.
      .container
            h3.header-subtitle We have Collected more tha 2000 Articles within the Last 2 months
            a(href="articles/add").btn.btn-primary.btn-lg Add an Article
          
