include layout
    title #{title}
    body
    include nav    
    .appheader
        h1.header-tile.text-white Articles  Collection Necwork
        h3.header-subtitle.text-white We are dedicated to  collecting and Pubishisng interestin Articels arround the  world.


    include footer
